<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyB5XxBh6TptagkZOKy24cH1gf1N_2BJF0E</string>
    <key>GCM_SENDER_ID</key>
    <string>180860046334</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>ru.ziidik.Flash-Chat-iOS13</string>
    <key>PROJECT_ID</key>
    <string>flashchat-ios13-6c0d1</string>
    <key>STORAGE_BUCKET</key>
    <string>flashchat-ios13-6c0d1.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:180860046334:ios:9a9a38efa5e4c2ab290eaf</string>
</dict>
</plist>
